name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      # El truco: Primero creamos la base, y luego descargamos las piezas
      - run: flutter create . --overwrite --platforms android --project-name vortex_final
      - run: flutter pub get
      - run: flutter build apk --release
      - uses: actions/upload-artifact@v4
        with:
          name: vortex-apk
          path: build/app/outputs/flutter-apk/app-release.apk
